{% extends "master.html" %} {% block content %}
<main
  class="overflow-hidden w-100 p-0 m-0 d-flex align-items-center justify-content-center"
>
  <ul
    class="row p-0 m-0 d-flex justify-content-center align-items-center"
    style="gap: 20px"
  >
    {% for pokemon in pokemons %}
    <li class="card col-2 list-unstyled">
      <a class="text-decoration-none" href="./{{ pokemon.name }}">
        <img
          class="card-img-top"
          src="{{ pokemon.sprites.front_default }}"
          alt="{{ pokemon.name }}"
        />
        <div class="card-body">
          <p
            class="card-title text-capitalize text-center"
            style="font-size: 20px; color: #000"
          >
            {{ pokemon.name }}
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
